{% extends 'base.html.twig' %}

{% block title %}{{ message }} - Symfony App{% endblock %}

{% block body %}
    <h1>{{ message }}</h1>
    <p>Bienvenue sur votre application Symfony !!!</p>
    <p>
        Essayez la route dynamique :
        <a href="{{ path('app_hello_name', {name: 'VotreNom'}) }}" class="back-link">
            /hello/VotreNom
        </a>
    </p>
{% endblock %}